/**
* CSS
*
* @version 2.0
* @author Vaska
*
* There are also some obscure rules in base.css
*/
tl {
position: fixed;
bottom: 57px;
left: 2px;
z-index: 1!important;
color:#7e5c72;
}
* {
box-sizing: border-box;
}
.column {
float: left;
width: 35%;
padding: 10px;
/* height: 300px;  Should be removed. Only for demonstration */
}
/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}
.privacier {
position: fixed;
top: 177px;
left: 847px;
width: 327px;
height: 327px;
z-index: -100!important;
background: rgba(39, 38, 53, 0);
border-radius: 50%;
transform: rotate(
-20deg
);
color: white;
font-size: 18px;
filter: blur(20px);
}
.carousel-indicators {
position: absolute;
bottom: 30px;
left: 50%;
z-index: -10;
width: 60%;
padding-left: 0;
margin-left: -30%;
text-align: center;
list-style: none;
}
.carousel-control.right {
right: 0;
left: auto;
background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, .0001)));
background-repeat: repeat-x;
}
.carousel-control.left {
background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, .0001)));
background-repeat: repeat-x;
}
.center-car {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}
.carousel-inner>.item {
background-color: rgb(0, 0, 0, 0) !important;
-webkit-transition: -webkit-transform .6s ease-in-out;
-o-transition: -o-transform .6s ease-in-out;
transition: -webkit-transform .6s ease-in-out;
transition: transform .6s ease-in-out;
transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out, -o-transform .6s ease-in-out;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
-webkit-perspective: 1000px;
perspective: 1000px;
}
.carousel-inner>.item.active,
.carousel-inner>.item.next.left,
.carousel-inner>.item.prev.right {
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
left: 0;
background-color: rgb(0, 0, 0, 0);
}
.carousel-inner>.item {
background-color: rgb(0, 0, 0, 0);
-webkit-transition: -webkit-transform .6s ease-in-out;
-o-transition: -o-transform .6s ease-in-out;
transition: -webkit-transform .6s ease-in-out;
transition: transform .6s ease-in-out;
transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out, -o-transform .6s ease-in-out;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
-webkit-perspective: 1000px;
perspective: 1000px;
}
tete {
color:#7e5c72;
}
.blend {
mix-blend-mode: lighten;
}
.blend img {
mix-blend-mode: lighten;
}
body {
font-size: 13.6px!important;
font-family: 'Space Mono', monospace;
/*background: #E8E9F3;*/
background: #E0DACC;
color: #000;
line-height: 1.4em;
text-align: justify;
/* font-weight: 300; */
}
/* width */
::-webkit-scrollbar {
width: 0px;
}
/* Track */
::-webkit-scrollbar-track {
background: black;
}
/* Handle */
::-webkit-scrollbar-thumb {
background: black;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: black;
}
}
::-webkit-scrollbar {
width: 0px!important;
height: 0px!important;
}
/* Track */
::-webkit-scrollbar-track {
background: #00000000;
}
/* Handle */
::-webkit-scrollbar-thumb {
background: #fff0f300;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #fff0f300;
}
canvas {
position:fixed;
top:0;
left:0;
z-index:1;
}
video
{
margin-left: 282px!important;
margin-top: 100px!important;
max-width: 420px;
max-height: auto;
}
#contenu {
position:relative;
z-index:2;
}
hr {
max-width: 600px;
margin: 0px;
padding-top: 0px;
padding-bottom: 0px;
}
p2 {
color: #A9A59A!important;
}

sub {
background-color: rgba(250, 170, 0, 1);
}
sub8 {
background-color: #E8E9F3;
}
sub1 {
background-color: rgba(156, 145, 196, 1);
}
/* link scheme */
/* you can customize links further down the page too */
a:link { text-decoration: none; color: #272635; }
a:visited { text-decoration: none; color: #272635; }
a:hover { text-decoration: underline; }
a:active { text-decoration: none; color: #f5cfff; }
a img { border: none; }
audio:focus { outline: none; }
/* general styles */
small { font-size: 9px; }
code { font-family: monospace; }
blockquote { padding-left: 9px; }
/* headings */
h1 { font-size: 16px; margin-bottom: 1em; font-weight: bold; }
h2 { font-size: 16px; margin-bottom: 1em; font-weight: bold; }
h3 { font-size: 16px; margin-bottom: 1em; }
h4 { font-size: 16px; margin-bottom: 1em; }
/* paragraph width */
#index p { margin-bottom: 1em; }
#exhibit p, code, blockquote { width: 650px!important; margin-bottom: 1em!important; text-align: left!important; line-height: 2em!important;  /* line-height: 1.3em; */ }
/* highlighter style - maybe you want to change colors? */
.highlight { background: #ccff00; color: #000; }
/* never adjust the margin or padding here unless you seriously know what you are doing */
/* think #index .container and #exhibit .container for only padding adjustments */
#index { width: 225px;
background: rgb(44,255,0);
background: linear-gradient(0deg, rgba(224, 218, 204,1) 0%, rgba(214, 195, 201,1) 50%, rgba(180, 144, 130,1) 100%);
line-height: 2em;
}
#exhibit { margin: 0 0 0 250px!important; }
/* styling the index */
#index ul { list-style: none; margin: 0; }
#index ul.section { margin-bottom: 1em; }
#index ul.subsection {  }
/* the follow rules for index are not required */
/* they are mostly for complex customization */
/* for tag display */
#index ul#all_tags { list-style-type: none; margin-bottom: 1em; }
#index ul#all_tags li { display: inline; margin-right: 13px; }
#index ul#all_tags li a {  }
/* styles for the section titles */
#index ul.section span.section_title,
#index ul.section span.section_title a
{ color: black; }
/* active section title */
#index span.active_section_title,
#index span.active_section_title a { font-weight: bold; }
/* active exhibit title parts */
/* color of active exhibit title link and font-weight */
li.active a:link, li a.active, li.active a:hover, li a.active, li.active a:active, li a.active,
li.active a:visited, li a.active, li span.active, #index ul.section li.active a:link,
#index ul.section li.active a:hover, #index ul.section li.active a:active, #index ul.section li.active a:visited
{ font-weight: normal; color: #00f; }
/* additional #index options */
#index ul li .password a { /* background: url(../img/locked.gif) right center no-repeat; padding-right: 18px; */ }
/* the "new" indicator */
#index ul li sup.new_exhibit { color: #0c0; font-weight: bold; text-transform: uppercase; font-size: 8px; vertical-align: top; }
#index ul li sup.new_exhibit:before { color: #0c0; font-weight: bold; text-transform: uppercase; font-size: 8px; vertical-align: top; content: "New"; }
/* end styling for index */
/* links styles only for the #index region */
#index a:link {  }
#index a:visited {  }
#index a:hover {  }
#index a:active {  }
/* links styles only for the #exhibit region */
#exhibit a:link { text-decoration: underline; }
#exhibit a:visited {  }
#exhibit a:hover { text-decoration: none; }
#exhibit a:active {  }
/* links styles just for h1 title of site (your name/logo) */
#index h1 a { font-weight: normal; text-decoration: none; color: #000; }
/* this is where you adjust your paddings for #index and #exhibit together */
.container { padding: 27px 9px 25px 27px; }
/* this is where you pad them separately */
#index .container {  }
#exhibit .container {  }
/* size and style of titles and captions (not mobile though) */
.captioning { margin-top: 2px; }
.title { font-size: 0.7em; font-style: italic; line-height: 1.2em; }
.caption { font-size: 0.7em; font-style: italic; line-height: 1.2em; }

@media (width: 667px) {
    #exhibit p, code, blockquote {
        max-width: 450px!important;
        margin: 0 0 0 -0px!important;
        margin-bottom: 4em!important;
    }
    .container {
                margin: 0 0 0 -90px;

        margin-bottom: 0px!important;
}
    #index { width: 155px!important;
    }

    #index ul.section li.exhibit_title {
    margin: 0 0 0 80px!important;
}
}

@media (width: 375px) {
    #exhibit p, code, blockquote {
        max-width: 155px!important;
        margin: 0 0 0 0px!important;
        margin-bottom: 0px!important;
    }

    #index { width: 135px!important;
    }

        #index .container {
                margin: 0 0 0 -80px;
}

        #exhibit .container {
                margin: 0 0 0 -120px;
}

    #index ul.section li.exhibit_title {
    margin: 0 0 0 75px!important;
}
}

/* iphone XR */ 

@media (width: 414px) {
     #exhibit p, code, blockquote {
        max-width: 225px!important;
        margin: 0 0 0 0px!important;
        margin-bottom: 0px!important;
    }

    #index { width: 135px!important;
    }

        #index .container {
                margin: 0 0 0 -80px;
}

        #exhibit .container {
                margin: 0 0 0 -120px;
}

    #index ul.section li.exhibit_title {
    margin: 0 0 0 75px!important;
}
}


@media (width: 896px) {
    #exhibit p, code, blockquote {
        max-width: 450px!important;
        margin: 0 0 0 -0px!important;
        margin-bottom: 4em!important;
    }
    .container {
                margin: 0 0 0 -90px;

        margin-bottom: 0px!important;
}
    #index { width: 155px!important;
    }

    #index ul.section li.exhibit_title {
    margin: 0 0 0 80px!important;
}
}

/* iphone 12pro */ 

@media (width: 390px) {
     #exhibit p, code, blockquote {
        max-width: 225px!important;
        margin: 0 0 0 0px!important;
        margin-bottom: 0px!important;
    }

    #index { width: 135px!important;
    }

        #index .container {
                margin: 0 0 0 -80px;
}

        #exhibit .container {
                margin: 0 0 0 -120px;
}

    #index ul.section li.exhibit_title {
    margin: 0 0 0 75px!important;
}
}

@media (width: 844px) {
    #exhibit p, code, blockquote {
        max-width: 450px!important;
        margin: 0 0 0 -0px!important;
        margin-bottom: 4em!important;
    }
    .container {
                margin: 0 0 0 -90px;

        margin-bottom: 0px!important;
}
    #index { width: 155px!important;
    }

    #index ul.section li.exhibit_title {
    margin: 0 0 0 80px!important;
}
}

/* iphone 14pro */ 

@media (width: 430px) {
     #exhibit p, code, blockquote {
        max-width: 225px!important;
        margin: 0 0 0 0px!important;
        margin-bottom: 0px!important;
    }

    #index { width: 135px!important;
    }

        #index .container {
                margin: 0 0 0 -80px;
}

        #exhibit .container {
                margin: 0 0 0 -120px;
}

    #index ul.section li.exhibit_title {
    margin: 0 0 0 75px!important;
}
}


@media (width: 844px) {
    #exhibit p, code, blockquote {
        max-width: 450px!important;
        margin: 0 0 0 -0px!important;
        margin-bottom: 4em!important;
    }
    .container {
                margin: 0 0 0 -90px;

        margin-bottom: 0px!important;
}
    #index { width: 155px!important;
    }

    #index ul.section li.exhibit_title {
    margin: 0 0 0 80px!important;
}
}

/* pixel7 */ 

@media (width: 412px) {
     #exhibit p, code, blockquote {
        max-width: 225px!important;
        margin: 0 0 0 0px!important;
        margin-bottom: 0px!important;
    }

    #index { width: 135px!important;
    }

        #index .container {
                margin: 0 0 0 -80px;
}

        #exhibit .container {
                margin: 0 0 0 -120px;
}

    #index ul.section li.exhibit_title {
    margin: 0 0 0 75px!important;
}
}


@media (width: 915px) {
    #exhibit p, code, blockquote {
        max-width: 450px!important;
        margin: 0 0 0 -0px!important;
        margin-bottom: 4em!important;
    }
    .container {
                margin: 0 0 0 -90px;

        margin-bottom: 0px!important;
}
    #index { width: 155px!important;
    }

    #index ul.section li.exhibit_title {
    margin: 0 0 0 80px!important;
}
}

/* smsng glx s8 */ 

@media (width: 360px) {
     #exhibit p, code, blockquote {
        max-width: 225px!important;
        margin: 0 0 0 0px!important;
        margin-bottom: 0px!important;
    }

    #index { width: 135px!important;
    }

        #index .container {
                margin: 0 0 0 -80px;
}

        #exhibit .container {
                margin: 0 0 0 -120px;
}

    #index ul.section li.exhibit_title {
    margin: 0 0 0 75px!important;
}
}


@media (width: 740px) {
    #exhibit p, code, blockquote {
        max-width: 450px!important;
        margin: 0 0 0 -0px!important;
        margin-bottom: 4em!important;
    }
    .container {
                margin: 0 0 0 -90px;

        margin-bottom: 0px!important;
}
    #index { width: 155px!important;
    }

    #index ul.section li.exhibit_title {
    margin: 0 0 0 80px!important;
}
}

/* smsng glx s20 */ 

@media (width: 412px) {
     #exhibit p, code, blockquote {
        max-width: 225px!important;
        margin: 0 0 0 0px!important;
        margin-bottom: 0px!important;
    }

    #index { width: 135px!important;
    }

        #index .container {
                margin: 0 0 0 -80px;
}

        #exhibit .container {
                margin: 0 0 0 -120px;
}

    #index ul.section li.exhibit_title {
    margin: 0 0 0 75px!important;
}
}


@media (width: 915px) {
    #exhibit p, code, blockquote {
        max-width: 750px!important;
        margin: 0 0 0 -0px!important;
        margin-bottom: 4em!important;
    }
    .container {
                margin: 0 0 0 -90px;

        margin-bottom: 0px!important;
}
    #index { width: 155px!important;
    }

    #index ul.section li.exhibit_title {
    margin: 0 0 0 80px!important;
}
}

/* ipad-mini */ 

@media (width: 768px) {
     #exhibit p, code, blockquote {
        max-width: 525px!important;
        margin: 0 0 0 0px!important;
        margin-bottom: 0px!important;
    }

    #index { width: 175px!important;
    }

        #index .container {
                margin: 0 0 0 -80px;
}

        #exhibit .container {
                margin: 0 0 0 -70px;
}

    #index ul.section li.exhibit_title {
    margin: 0 0 0 75px!important;
}
}


@media (width: 1024px) {
    #exhibit p, code, blockquote {
        max-width: 750px!important;
        margin: 0 0 0 -0px!important;
        margin-bottom: 4em!important;
    }
    .container {
                margin: 0 0 0 -90px;

        margin-bottom: 0px!important;
}
    #index { width: 155px!important;
    }

    #index ul.section li.exhibit_title {
    margin: 0 0 0 80px!important;
}
}

/* ipad-air */ 

@media (width: 820px) {
     #exhibit p, code, blockquote {
        max-width: 525px!important;
        margin: 0 0 0 0px!important;
        margin-bottom: 0px!important;
    }

    #index { width: 175px!important;
    }

        #index .container {
                margin: 0 0 0 -80px;
}

        #exhibit .container {
                margin: 0 0 0 -70px;
}

    #index ul.section li.exhibit_title {
    margin: 0 0 0 75px!important;
}
}


@media (width: 1180px) {
    #exhibit p, code, blockquote {
        max-width: 750px!important;
        margin: 0 0 0 -0px!important;
        margin-bottom: 4em!important;
    }
    .container {
                margin: 0 0 0 -90px;

        margin-bottom: 0px!important;
}
    #index { width: 155px!important;
    }

    #index ul.section li.exhibit_title {
    margin: 0 0 0 80px!important;
}
}

/* surface_pro */ 

@media (width: 540px) {
     #exhibit p, code, blockquote {
        max-width: 325px!important;
        margin: 0 0 0 0px!important;
        margin-bottom: 0px!important;
    }

    #index { width: 135px!important;
    }

        #index .container {
                margin: 0 0 0 -80px;
}

        #exhibit .container {
                margin: 0 0 0 -120px;
}

    #index ul.section li.exhibit_title {
    margin: 0 0 0 75px!important;
}
}


@media (width: 720px) {
    #exhibit p, code, blockquote {
        max-width: 490px!important;
        margin: 0 0 0 -0px!important;
        margin-bottom: 4em!important;
    }
    .container {
                margin: 0 0 0 -90px;

        margin-bottom: 0px!important;
}
    #index { width: 155px!important;
    }

    #index ul.section li.exhibit_title {
    margin: 0 0 0 80px!important;
}
}


/* glx fold */ 

@media (width: 280px) {
     #exhibit p, code, blockquote {
        max-width: 325px!important;
        margin: 0 0 0 0px!important;
        margin-bottom: 0px!important;
    }

    #index { width: 135px!important;
    }

        #index .container {
                margin: 0 0 0 -80px;
}

        #exhibit .container {
                margin: 0 0 0 -120px;
}

    #index ul.section li.exhibit_title {
    margin: 0 0 0 75px!important;
}
}


@media (width: 653px) {
    #exhibit p, code, blockquote {
        max-width: 410px!important;
        margin: 0 0 0 -0px!important;
        margin-bottom: 4em!important;
    }
    .container {
                margin: 0 0 0 -90px;

        margin-bottom: 0px!important;
}
    #index { width: 155px!important;
    }

    #index ul.section li.exhibit_title {
    margin: 0 0 0 80px!important;
}
}